.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 1%;
}

.title {
  flex-grow: 4;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
